# Ignorar archivos de caché de Python
__pycache__/

# Ignorar archivos generados por Django
*.pyc
*.pyo
*.pyd
*.db.sqlite3

# Ignorar archivos de migraciones de Django
**/migrations/

# Ignorar archivos de base de datos
*.db

# Ignorar archivos de base de datos SQLite
*.sqlite3

# Ignorar la carpeta venv (entorno virtual de Python)
venv/
